@import "../../scss/colors";

main {
  border: 0px solid $white;
}

.setup {
  margin-top: 30px;
}

label {
  display: block;
  margin: 30px auto 10px auto;
  font-size: 1.3em;
  font-weight: bold;
}

select {
  border-radius: 10px;
  background-color: $primary;
  color: $white;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
