@import "colors.scss";

.button {
  display: block;
  max-width: 200px;
  margin: 20px auto 0 auto;
  padding: 15px 35px;
  border: 0;
  box-shadow: 0 5px 0 0 $primaryDark;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  line-height: 1;
}
